{%  extends 'base.html.twig' %}
{% block body %}

<main class="container main">


    <div>
        My Lovely var: {{someAwesomeVariable01 | default ('Lovin default')}}
    </div>
    <div>
        Hello {{getName | default("guys")}}!

    </div>
{% endblock %}

{% block title %} Some random title!{%  endblock %}
