{%  extends 'base.html.twig' %}

{% block title %} Foo page! {% endblock %}
{% block body %}




<main class="container main">


    <h1>Some heading!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat maximus rhoncus. Maecenas lobortis augue
        vel efficitur sagittis. Nam placerat dolor diam, quis molestie dui dapibus a. Praesent ante urna, auctor quis
        fringilla non, ultricies vel augue. Etiam diam turpis, mollis vel nunc vitae, fringilla placerat diam. Morbi mi
        elit, congue ut nunc ut, dapibus finibus ante. Phasellus ultrices justo lorem. Nulla facilisi. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vitae molestie ante.
        Nam sit amet libero non justo consectetur fringilla a vel erat. Ut pellentesque urna quis elit lobortis
        imperdiet.
    </p>
</main>

{% endblock %}